<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=kassasysteem.database.windows.net;Initial Catalog=kassa;User ID=kassa;Password=***********"/>
    <add name="kassaEntities" connectionString="metadata=res://*/KassaEntities.csdl|res://*/KassaEntities.ssdl|res://*/KassaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kassasysteem.database.windows.net;initial catalog=kassa;user id=kassa;password=azerty-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>