<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="kassaEntities" connectionString="metadata=res://*/KassaEntities.csdl|res://*/KassaEntities.ssdl|res://*/KassaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kassasysteem.database.windows.net;initial catalog=kassa;user id=kassa;password=azerty-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="kassaEntities" connectionString="metadata=res://*/KassaEntities.csdl|res://*/KassaEntities.ssdl|res://*/KassaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kassasysteem.database.windows.net;initial catalog=kassa;persist security info=True;user id=kassa;password=azerty-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="kassaEntities" connectionString="metadata=res://*/kassaEntities.csdl|res://*/kassaEntities.ssdl|res://*/kassaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kassasysteem.database.windows.net;initial catalog=kassa;persist security info=True;user id=kassa;password=azerty-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="kassaEntities" connectionString="metadata=res://*/kassaEntities.csdl|res://*/kassaEntities.ssdl|res://*/kassaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kassasysteem.database.windows.net;initial catalog=kassa;persist security info=True;user id=kassa;password=azerty-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>